@model WebMvc1.Models.FormModel
@{
    ViewData["Title"] = "Form one";
}

<div class="text-left">
    <h1 class="display-4">Dane z formularza</h1>
    @Html.DisplayNameFor(model => model.Name):          @Html.DisplayFor(model => model.Name)
    <br />
    Dni od daty urodzenia do dzisiaj:   @Html.DisplayFor(model => model.Days)
</div>
<br/>
<a href="/form1.html">Powrót do Form1 (HTML)</a>
<br />
<a asp-action="Form2">Powrót do Form2 (Razor)</a>
